Repository AAA-Intelligence/eve, pull requests merged in 2018-04, with the labels that each got.

#59 Improvements and stuff
  bot/mood_analyzer.py
  bot/trainer.py
Labels: bot, bug

#60 Remove precaching
  bot/trainer.py
Labels: bot, bug

#71 Feature/mood analyzer
  bot/__main__.py
  bot/affections/A_NEG.txt
  bot/affections/A_POS.txt
  bot/affections/__init__.py
  bot/model_definitions.py
  bot/mood_analyzer.py
  bot/moods/M_NEG.txt
  bot/moods/M_POS.txt
  bot/moods/__init__.py
  bot/pattern_recognizer.py
  bot/request_handler.py
  bot/sentiments/A_POS.txt
  bot/setup.py
  bot/static_answers.py
  bot/trainer.py
Labels: bot

#69 Fix BotAnswer struct
  manager/bots/botInstance.go
Labels: bug, web api

#74 fixed error with mood and affection signs
  bot/__main__.py
  bot/data.py
  bot/mood_analyzer.py
  bot/request_handler.py
Labels: bot

#85 Feature/text generator
  .DS_Store
  .gitignore
  bot/__main__.py
  bot/patterns/BOT_ANY.txt
  bot/request_handler.py
  bot/requirements.gpu.txt
  bot/requirements.txt
  bot/setup.py
  bot/text_processor.py
  bot/text_processor/config.yml
  bot/text_processor/generator.py
  bot/text_processor/models/nmt_small.py
  bot/text_processor/models/transformer.py
  bot/text_processor/setup.py
  bot/text_processor/train.py
Labels: bot

#102 Improvements/bot
  bot/text_processor/config.yml
  bot/text_processor/generator.py
  bot/text_processor/nmt_small.py
  bot/text_processor/setup.py
  bot/trainer.py
  static/style.css
Labels: bot
